body {
  width: 100%;
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: black;

}

h1 {
  color: black;
  font-size: 90px;
  text-align: center;
  margin: 50px auto 0 auto;
  font-family: monospace ;
  font: 'Courier';

}

.rocket1 {
  position: absolute;
  left: 60px;
  height: 270px;

}

.rocket2 {
  position: absolute;
  right: 60px;
  height: 270px;
}

.webdesign {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}



h3 {
  color: white;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}


p {
  line-height: 2;
}


a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: yellow;
  position: relative;
  padding: 250px;

}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: yellow;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;

}

.cam {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.desktop {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.git {
  width: 25%;
  float: left;
  margin-right: 30px;
}


.mypic1 {
  width: 250px;
  height: auto;
  border-radius: 50%;

}



.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}




.btn {
  background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.btn:hover {
  color: yellow;
  background-color: black;
}


.footer-link:hover {
  font-weight: bold;
  color: yellow;
  background-color: black;
}

.copyright {
  font-weight: bold;
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}
